.profile {
    max-width: 600px;
    margin: 10px auto;
  }
  
  .profile-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-pic {
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
  .profile-pic > img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 100px;
  }
  
  .profile-data {
  display: block;
  align-items: center;
  }
  .profile-data p{
    width: fit-content;
    margin: auto;

  }
  .profile-info p{
    width: fit-content;
    margin: auto;
  }
  .userName{
    font-size: larger;
    margin: 12px 0px 12px 0px;
    font-weight: 600;
  }
  
  .user-data{
    display: flex;
    justify-content: space-around;
  }


  .gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .gallery img {
    width: 30%;
    margin: 10px;
  }
  
  .followBtn {
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #0115eb;
    transition: all 0.25s ease;
    margin-left: 20px;
  }
  
  .followBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px -10px #0115eb;
  }
  
  .changePic {
    background-color: #fff;
    border-radius: 20px;
  }
  
  .changePic div {
    padding: 15px 80px;
  }
  
  .upload-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
  
    font-size: 15px;
  }
  
  .box{
    display: block;
  }

  .scrolbar::-webkit-scrollbar{
    display: none;
  }